<nav class="sb-topnav navbar navbar-expand navbar-dark" style="background-color: rgba(92,73,57,0.7);">
  <a class="brand-link" href="#"><img src="src/img/logo killyn moto - foot.jpg"
      alt="Killyn" class="brand-image img-circle elevation-4" style="opacity: .8" />
    <span class="brand-text" style="color: #D07E30; font-size: small;">Killyn Motos</span>
  </a>
  <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i
      class="fas fa-bars"></i></button>
  <!-- Navbar Search-->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input class="form-control" type="text" placeholder="Search for..." aria-label="Search"
        aria-describedby="basic-addon2" />
      <div class="input-group-append">
        <button class="btn" style="background-color: #CB7C31" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown"
        style="background-color: rgba(92,73,57,0.7);">
        <a class="dropdown-item text-light" href="#">Settings</a>
        <a class="dropdown-item text-light" href="#">Activity Log</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-light" href="login.html">Logout</a>
      </div>
    </li>
  </ul>

</nav>
<div id="layoutSidenav_nav">
  <nav class="sb-sidenav accordion" id="sidenavAccordion" style="background-color: rgba(92,73,57,0.7);">
        <div class="sb-sidenav-menu">
            <div class="nav user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="sb-sidenav-menu-heading font-weight-bold text-center">
                    <h3 style="color: #CF7D34"><b> aqui nombre de modulo</b></h3>
                </div>
                <div class="image">

                        <img src="src/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image"/>

                </div>
                <div class="info">
                    <a href="#" class="d-block font-weight-bold text-light"><b>nombre usuario</b></a>
                </div>
            </div>
            <div class="sb-sidenav-menu-heading font-weight-bold text-center"><h3 style="color: #CF7D34"><b>Menú main</b></h3></div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pedidos1" aria-expanded="false" aria-controls="pedidos1">
                    <div class="sb-nav-link-icon font-weight-bold text-light"><i class="fas fa-check"></i> Pedidos</div>
                    <div class="sb-sidenav-collapse-arrow" style="color: #CF7D34"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="pedidos1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="#pedidos">Tabla de Pedidos</a>
                    </nav>
                </div>

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#despachos1" aria-expanded="false" aria-controls="despachos1">
                    <div class="sb-nav-link-icon font-weight-bold text-light"><i class="fas fa-truck"></i> Despachos</div>
                    <div class="sb-sidenav-collapse-arrow" style="color: #CF7D34"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="despachos1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="#despachos">Tabla de despachos</a>
                        <a class="nav-link text-light" href="#pedidosModal" data-toggle="modal">Crear Despacho</a>
                    </nav>
                </div>


               -<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stock1" aria-expanded="false" aria-controls="stock1">
                    <div class="sb-nav-link-icon font-weight-bold text-light"><i class="fas fa-cogs"></i> Stock Repuestos</div>
                    <div class="sb-sidenav-collapse-arrow" style="color: #CF7D34"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="stock1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="#stock">Tabla de Stock de Repuestos</a>
                        <a class="nav-link text-light" href="#pedidosModal" data-toggle="modal">Añadir Repuesto</a>
                    </nav>
                </div>-->


                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#solicitudes1" aria-expanded="false" aria-controls="solicitudes1">
                    <div class="sb-nav-link-icon font-weight-bold text-light"><i class="fas fa-plus"></i> Solicitud Orden de Compra Repuesto</div>
                    <div class="sb-sidenav-collapse-arrow" style="color: #CF7D34"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="solicitudes1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link text-light" href="#solicitudesCR">Tabla de Solictudes de Compra</a>
                        <a class="nav-link text-light" href="#pedidosModal" data-toggle="modal">Generar Solicitud de Compra de Repuesto</a>
                    </nav>
                </div>-->

        </div>
    </nav>
  </div>
<script>
  /*!
    * Start Bootstrap - SB Admin v6.0.1 (https://startbootstrap.com/templates/sb-admin)
    * Copyright 2013-2020 Start Bootstrap
    * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-sb-admin/blob/master/LICENSE)
    */
    (function($) {
    "use strict";

    // Add active state to sidbar nav links
    var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
        $("#layoutSidenav_nav .sb-sidenav a.nav-link").each(function() {
            if (this.href === path) {
                $(this).addClass("active");
            }
        });

    // Toggle the side navigation
    $("#sidebarToggle").on("click", function(e) {
        e.preventDefault();
        $("body").toggleClass("sb-sidenav-toggled");
    });
})(jQuery);


var acceso = 0, contar = 0; intentos1 = 3; intentos2 = 3;
//function validar(e){
//    tecla = (document.all) ? e.keyCode : e.which;
//    if (tecla===8){
//        return true;
//    }
//    patron =/[0-9]/;
//    tecla_final = String.fromCharCode(tecla);
//    return patron.test(tecla_final);
//}
function digitar(k){
   document.getElementById("coco").value="a";
//   contenido.value = "abc"
//   if (k <= 9){
//	    str = contenido.value;
//	    if (str.length = 0){
//	     acceso = acceso + k
//            }
//	    if (str.length = 1){
//	     acceso = acceso + k*10
//            }
//	    if (str.length = 2){
//	     acceso = acceso + k*100
//            }
//	    if (str.length = 3){
//	     acceso = acceso + k*1000
//            }
//            contenido.value = acceso;
//	     contar = contar + 1;
//    } else{
//                contenido.value = "";
//                acceso = 0;
//                contar = 0;
//              }
}

//function entrar(destino){
// 	var contenido= document.getElementById("user");
// 	var texto1 = contenido.value;
// 	var numero = parseInt(contenido.value);
// 	var texto2 = numero.toString();
//    if ((intentos1 > 0) && (intentos2 > 0)){
//	    if ((texto1 === texto2)&&(texto1.length>5)){
//	    	if ((numero === 555555) && (acceso ===1234)){
//	               window.location.href=destino;
//	    	}else{
//	             intentos1 = intentos1 - 1;
//	             alert("El usuario o la contraseña no son correctos. - Le quedan "+ intentos1 +" intentos");
//	    	}
//	    }else{
//	    	intentos2 = intentos2 - 1;
//	    	alert("El dato en el campo usuario debe ser un número de cédula válido. - Le quedan " + intentos2 + " intentos");
//	    }
//    }else{
//
//    	alert("Ha superado el número de intentos de acceso. Por seguridad se ha bloqueado su IP, por favor comuníquese con el administrador del sistema");
//    }
//
//  }
//      $(document).ready(function(){
//
//                // Single page nav
//                $('.tm-main-nav').singlePageNav({
//                    'currentClass' : "active",
//                    offset : 20
//                });
//
//                // Magnific pop up
//                $('.tm-gallery-1').magnificPopup({
//                  delegate: 'a', // child items selector, by clicking on it popup will open
//                  type: 'image',
//                  gallery: {enabled:true}
//                  // other options
//                });
//
//                $('.tm-gallery-2').magnificPopup({
//                  delegate: 'a', // child items selector, by clicking on it popup will open
//                  type: 'image',
//                  gallery: {enabled:true}
//                  // other options
//                });
//
//                $('.tm-gallery-3').magnificPopup({
//                  delegate: 'a', // child items selector, by clicking on it popup will open
//                  type: 'image',
//                  gallery: {enabled:true}
//                  // other options
//                });
//
//                $('.tm-current-year').text(new Date().getFullYear());
//            });
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
</script>
